@import "base";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

a {
  text-decoration: none;
}
.cursor {
  z-index: 9999;
  top: 0px;
  left: 0px;
  position: fixed;
  height: 30px;
  width: 30px;
  background-color: var(--primary-color);
  border-radius: 50%;
  mix-blend-mode: difference;
  pointer-events: none;
  @include mobile { 
    display: none;
  }
}
.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  font-size: 3rem;
  & .svg_container{
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    & img{
      height: 25rem;
      width: fit-content;
      filter: url(#noise);
    }
    & .overlay_svg{
      color: black;
      & span{
        position: absolute;
        font-size: 20rem;
      }
      & span:first-child{
        top: 20%;
        left: -5%;
    
      }
      & span:nth-child(2){
        top: 40%;
        left: 40%;
      }
      & img{
        display: none;
      }

      @keyframes fade_in_left {
        0%{
          opacity: 0;
          left: 60%;
        }
        100%{
          opacity: 1;
          left: 40%;
        }
        
      }
    @keyframes fade_in_right {
      0%{
        opacity: 0;
        right: 50%;
      }
      100%{
        opacity: 1;
        right: 30%;
      }
      }
    }
    & .title{
      position: absolute;
      bottom: 0px;
      color: black;
    }
  }
  }

.hello {
  overflow-x: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 5rem;
  padding-top: 50vh;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: var(--primary-color);
  font-family: "portfoliofontlight", sans-serif;
  .wrapper {
    mix-blend-mode: difference;
    z-index: 99;
    width: 50%;
    text-align: center;
    @include mobile { 
      height: fit-content;
    }

  }
  #ekhzpFtnB071 {
    top: -25%;
    left: 0px;
    position: absolute;
    height: 150vh;
    width: 100%;
  } @include mobile { 
    display: none;
  }
}

.question {
  position: relative;
  height: fit-content;
  width: 100%;
  padding-top: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  .wrapper {

    mix-blend-mode: difference;
    width: 30%;
    font-size: 4.5vw;
    text-align: center;
  }
  p {
    height: 100vh;
    padding-top: 50vh;
    font-size: 15px;
    width: 40%;
    line-height: 28px;
    font-weight: 400;
    font-family: "portfoliofontlight", sans-serif;
    mix-blend-mode: difference;
  }
  .strip1 {
    border: 2px dashed black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 47%;
    padding-left: 70vh;
    transform-origin: 20% 40%;
    width: 300vw;
    height: 10rem;
    color: var(--primary-backgound);
    background-color: yellow;
    font-size: 5rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    z-index: 2;
    &:hover{
      z-index: 99;
    }
  }
  .strip2 {
    border: 2px dashed black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70%;
    transform: translate(50%, -50%);
    transform-origin: 20% 40%;
    width: 300vw;
    height: 10rem;
    color: var(--primary-backgound);
    background-color: yellow;
    z-index: 1;
    font-size: 6rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    z-index: 3;
    &:hover{
      z-index: 99;
    }
  }
  .strip3 {
    border: 2px dashed black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 85%;
    left: -110%;
    transform: translate(50%, -50%);
    transform-origin: 20% 40%;
    width: 300vw;
    height: 10rem;
    color: var(--primary-backgound);
    background-color: yellow;
    font-size: 5rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    z-index: 2;
    &:hover{
      z-index: 99;
    }
  }
  .strip4 {
    border: 2px dashed black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 125%;
    transform: translateX(10px);
    transform-origin: 20% 40%;
    width: 350vw;
    padding-left: 100vw;
    height: 10rem;
    left: -170%;
    color: var(--primary-backgound);
    background-color: yellow;
    font-size: 5rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    z-index: 2;
    &:hover{
      z-index: 99;
    }
  }
}
