@import "base";

$easeInOutQuint : cubic-bezier(0.86, 0.3, 0.37, 0.5);
.line-wrapper{
  transform: translateY(-100px);
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  & .line{
    width: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
    
  }

}
.expand-wrapper{
  position: relative;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  & .expand{
    position: absolute;
    transform: translateY(-100px);
    transition: height 0.2s ease-out , width 0.1s $easeInOutQuint;
    background-color: var(--primary-color);
  }
  & .expand-inner{
    padding: 0rem 10rem;
    width: 100%;
    z-index: 9;
    padding-bottom: 10vh;
    position: relative;
  & .intern{
    position: relative;
    z-index: 1;
    height: fit-content;
    color: var(--primary-backgound);
    width: 100%;
    max-width: 100%;
    @include mobile { 
      padding: 5vh 5vw;
    }
    & h2{
      font-weight: 300;
      font-family:"portfoliofont", sans-serif;
      font-size: 7vw;
      width: fit-content;
    }
      & ul{
        & li{
          font-size: 4vh;
          display: flex;
          gap: 15vw;
          padding: 2rem 0rem;
          padding-left: 3vw;
          border-bottom: 1px solid var(--primary-backgound);
          border-top: 1px solid var(--primary-backgound);
        }
        & .li_exp_first{
          border-bottom: 0px;
        }
       & .postition{
          font-size: 7rem;
        }
        & .duration{
          padding-top: 1rem;
          & span:first-child{
            font-size: 3rem;
          }
          & span:last-child{
            font-size: 2rem;
          }
        }
    }
    & img{
      top: 50%;
      left: 90%;
      transform: translate(-50%, -50%);
      position: absolute;
      height: 20rem;
      width: 20rem;
    }

  }
  & .projects{
    z-index: 1;
    width: 100%;
    color: var(--primary-backgound);
    & h2{
      padding-top: 15rem;
      font-weight: 300;
      font-family:"portfoliofont", sans-serif;
      font-size: 7vw;
      width: fit-content;
      padding-bottom: 5vh;
    }
    & .wrapper{
      position: relative;
      height: fit-content;
      gap: 3vh;
      width: 100%;
      display: flex;
      padding-bottom: 20vh;
      display: flex;
      flex-direction: column;
      & .item{
        width: 100%;
        border-bottom: 1px solid black;
        font-size: 4rem;
        padding: 2rem;
        transition: 0.3s ease-in-out;
      }
      & .item:hover{
        transform: scale(1.1);
      }
      & .turbu{
          position: absolute;
          height: 40rem;
          width: 55%;
          top: calc(25% - 10vh);
          transform: translateY(-50%);
          right: -5%;
          & img{
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            height: 100%;
            width: 100%;
            object-fit : cover;
            filter: url(#noisesd);
            opacity: 0;
          }
       }
      }
    }
  }
}