.nav {
  z-index: 100;
  height: fit-content;
  padding: 1rem 2rem;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: 0.5s fade_in_load ease-in-out forwards;
  transform: translateY(15px);
  @keyframes fade_in_load {
    0%{
      transform: translateY(15px);
      opacity: 0;
    }
    100%{
      opacity: 1;
      transform: translateY(0px);
    }
  }
  

  .say-hello {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    color: black;
    border: 1px solid black;
    border-radius: 3rem;
    font-size: 1.3rem;
    font-family: "portfoliofontlight", sans-serif;
    transition: 0.3s ease-in-out;
  }

  .say-hello:hover {
    color: var(--primary-color);
    background-color: var(--primary-backgound);
  }
  #ghost {
    fill: white;
    stroke: black;
    stroke-width: 2px;
    animation: moveupanddown 1s ease-in-out alternate-reverse infinite;
  }

  @keyframes moveupanddown {
    0% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(5px);
    }
  }

  #ghost-eye-cover {
    stroke: white;
    fill: white;
    transition: transform 0.4s ease-in-out;
    transform: translateY(-2px);
  }
  #ghost:hover {
    fill: var(--red-ghost-color) !important;
    stroke:var(--red-ghost-color);
  }
  #ghost:hover #ghost-eye-cover {
    transform: translateY(6px);
    stroke: var(--red-ghost-color);
    fill: var(--red-ghost-color) !important;
  }
  #smile_width{
    stroke-width: 0px !important;
    stroke: black !important;
  }

  p{
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    font-family: "portfoliofontlight", sans-serif;
  }
}
