@import "base";
.main_wrap_load{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    & img{
        width: 120%;
        left: -10%;
        height: 140vh;
        top: -20vh;
        position: absolute;
        animation: closeup 1.3s cubic-bezier(0.065, 0.665, 0.930, 1.000) forwards;
        animation-delay: 2.8s;
        object-fit : cover;
        filter: url(#noisesd);
         @keyframes closeup 
         {
             0%{
                 width: 100%;
             }
             100%{
                 width: 0%;
             }
         }
    }
    & .loadUP_main{
        position: relative;
        color: white;
            top: 0;
            position: absolute;
            height: 100vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15rem;
            @include mobile{
                font-size: 5rem;
            }
            & span{
                position: absolute;
                left: 50%;
                opacity: 0;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                animation: fade_in 0.8s  ease-out forwards;
                @include mobile{
                    animation: fade_in_mob 0.8s  ease-out forwards;
                }
                @keyframes fade_in {
                    0%{
                        opacity: 0;
                        top: 80%;
                    }
                    70%{
                        opacity: 1;
                        top: 50%;
                        font-size: 15rem;
                    }
                    100%{
                        top: 50%;
                        opacity: 0;
                        font-size: 12rem;
                    }
                }
                @keyframes fade_in_mob {
                    0%{
                        opacity: 0;
                        top: 80%;
                    }
                    70%{
                        opacity: 1;
                        top: 50%;
                        font-size: 7rem;
                    }
                    100%{
                        top: 50%;
                        opacity: 0;
                        font-size: 4rem;
                    }
                }
            }
            & span:nth-child(2){
                animation-delay: 0.5s;
            }
            & span:nth-child(3){
                animation-delay: 1.0s;
            }
            & span:nth-child(4){
                animation-delay: 1.5s;
            }
            & span:nth-child(5){
                animation-delay: 2.0s;
            }
    }
}

